.forgotAndReg {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 750px) {
  .forgotAndReg {
    flex-direction: column;
    align-items: center;
    gap: 0;
    justify-content: center;
  }
}
